@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-weight: 600;
}

.hcontainer{
    display:grid;
    height:100vh;
    padding-right: 20%;
    padding-left: 20%;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: .25fr 2fr 1fr 1.5fr 1fr .2fr;
    grid-template-areas:
        "nav nav nav"
        "highlight recart sidebar"
        "spotarc recart sidebar"
        "podspot podspot sidebar"
        "podep podep sidebar"
        "footer footer footer"
}



.highlight{
    grid-area: highlight;
    padding:1rem;
    flex: 1;
    border-right: 2px solid #c4c4c4;
}


.spotarc{
    padding:1rem;
    flex: 1;
    border-right: 2px solid #c4c4c4;
    border-top: 2px solid #c4c4c4;
    grid-area: spotarc;
}

.podspot{
    padding:1rem;
    flex: 1;
    border-right: 2px solid #c4c4c4;
    border-top: 2px solid #c4c4c4;
    grid-area: podspot;
}

.podep{
    padding:1rem;
    flex: 1;
    border-right: 2px solid #c4c4c4;
    border-top: 2px solid #c4c4c4;
    grid-area: podep;
}

.recart{
    padding:1rem;
    flex: 1;
    border-right: 2px solid #c4c4c4;
    grid-area: recart;
}

.sidebar{
    padding:1rem;
    flex: 1;
    grid-area: sidebar;
}


footer{
    grid-area: footer;
}

@media only screen and (max-width: 550px) {
    .hcontainer{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 2.2fr 2.2fr 1.2fr 1.2fr 2.2fr 1.2fr .25fr;
        grid-template-areas:
            "nav"
            "highlight"
            "spotarc"
            "recart"
            "sidebar"
            "podspot"
            "podep"
            "footer"
    }
}

.text-center {
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 0.5rem;
}

.logo i{
    font-size: 2rem;
    margin-right: 1rem;
}

nav{
    border-top: 2px solid #000000;
}

nav{
    padding: 0;
    flex: 1;
    border-right: 2px solid #c4c4c4;
    grid-area: nav;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    margin: 0 2rem;
}

nav a{
    color: black;
    text-decoration: none;
}

.scoreboard{
    width: 400px
}

.acontainer{
    display:grid;
    height:100vh;
    padding-right: 20%;
    padding-left: 20%;
    grid-template-columns: 1fr .30fr;
    grid-template-rows: .25fr 2fr .75fr .75fr .2fr;
    grid-template-areas:
        "nav nav"
        "ahighlight sidebar2"
        "spotarc2 sidebar2"
        "recart2 sidebar2"
        "footer footer"
}

.ahighlight{
    padding:1rem;
    flex: 1;
    border-right: 2px solid #c4c4c4;
    grid-area: ahighlight;
}

.spotarc2{
    padding:1rem;
    flex: 1;
    border-right: 2px solid #c4c4c4;
    border-top: 2px solid #c4c4c4;
    grid-area: spotarc2;
}

.recart2{
    padding:1rem;
    flex: 1;
    border-right: 2px solid #c4c4c4;
    border-top: 2px solid #c4c4c4;
    grid-area: recart2;
}

.sidebar2{
    padding:1rem;
    flex: 1;
    border-right: 2px solid #c4c4c4;
    grid-area: sidebar2;
}

@media only screen and (max-width: 550px) {
    .hcontainer{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 2.2fr 2.2fr 1.2fr 1.2fr 2.2fr 1.2fr .25fr;
        grid-template-areas:
            "nav"
            "ahighlight"
            "spotarc2"
            "recart2"
            "sidebar2"
            "footer"
    }
}
