@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@200;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.container{
    display:grid;
    height:100vh;
    padding-right: 15%;
    padding-left: 15%;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: .25fr 2fr 1fr 1.5fr 1fr .2fr;
    grid-template-areas:
        "nav nav nav"
        "highlight recart sidebar"
        "spotarc recart sidebar"
        "podspot podspot sidebar"
        "podep podep sidebar"
        "footer footer footer"
}

nav{
    background: #a7ffeb;
    grid-area: nav;
}

.highlight{
    background: #78ecd1;
    grid-area: highlight;
}

.spotarc{
    background: #78bdec;
    grid-area: spotarc;
}

.podspot{
    background: #78b4ec;
    grid-area: podspot;
}

.podep{
    background: #7883ec;
    grid-area: podep;
}

.recart{
    background: #b878ec;
    grid-area: recart;
    border-left: 
}

.sidebar{
    background: #ec78bc;
    grid-area: sidebar;
}


footer{
    background: #a7ffeb
    grid-area: footer;
}

@media only screen and (max-width: 550px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 2.2fr 2.2fr 1.2fr 1.2fr 2.2fr 1.2fr .25fr;
        grid-template-areas:
            "nav"
            "highlight"
            "spotarc"
            "recart"
            "sidebar"
            "podspot"
            "podep"
            "footer"
    }
}

.text-center {
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 0.5rem;
}

.logo i {
    font-size: 2rem;
    margin-right: 1rem;
}

nav{
    border-top: 2px solid #c4c4c4;
    border-bottom: 2px solid #c4c4c4;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    margin: 0 2rem;
}

nav a{
    color: black;
    text-decoration: none;
}

.scoreboard{
    width: 400px
}